server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/salim-brahem/TP-Microservice-Config.git
          default-label: master
          clone-on-start: true
